@import "normalize.css";

@font-face {
    font-family: 'Inter';
    src: url(/Inter.ttf);
    font-display: swap;
}
:root {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-color: #7921de;
    --primary-text-color: #ffffff;
    --text-color : #2d2d2d;
    --bg-color : #ffffff;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

img{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.container {
    margin: auto;
    padding: 1.5em;
    max-width: 1200px;
}

.center-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: calc(100% - 2em);
    margin-top: 10vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 3em 1em;
}

.input {
    line-height: 1.87em;
    display: flex;
    align-items: center;
    border: 2px solid var(--text-color);
    border-radius: 0.3em;
    outline: none;
    padding: 0;
    padding-left: 0.5em;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.input:focus {
    border: 2px solid var(--primary-color);
}

.button{
    color: var(--primary-text-color);
    background: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    padding: 0 3em;
    white-space: nowrap;
    text-decoration: none;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .center-form {
        box-shadow: none;
    }
    .container {
        margin: auto;
        padding-left: 1em;
        padding-right: 1em;
        max-width: calc(100% - 2em);
    }
}